<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EmoG: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css" />

        <!-- http://getbootstrap.com/docs/4.5/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />

        <!-- Roboto Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Google charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    </head>

    <body>
    <!-- Navbar Section -->
        <nav class="navbar">
          <div class="navbar__container">
            <a href="/" id="navbar__logo">EMoG</a>
            <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span> <span class="bar"></span>
              <span class="bar"></span>

            </div>
                {% if session.user_id %}
                    <ul class="navbar__menu">
                      <li class="navbar__item">
                        <a href="/invitation" class="navbar__links" id="services-page"
                          >Activity</a>
                      </li>

                      <li class="navbar__item">
                        <a href="/history" class="navbar__links">Entry</a>
                      </li>

                      <li class="navbar__item">
                        <a href="/tracker" class="navbar__links">Tracker</a>
                      </li>

                      <li class="navbar__btn">
                        <a href="/logout" class="button" id="login">Log Out</a>
                      </li>
                    </ul>
                {% else %}
                    <ul class="navbar__menu">
                      <li class="navbar__item">
                        <a href="/" class="navbar__links" id="home-page">Home</a>
                      </li>
                      <li class="navbar__btn">
                        <a href="/login" class="button" id="login">Log In</a>
                      </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <!-- Footer Section -->
        <div class="footer__container">
          <section class="social__media">

            <div class="social__media--wrap">
              <div class="footer__logo">
                <a href="/" id="footer__logo">EMoG</a>
              </div>

              <p class="website__rights">© EMoG 2021. All rights reserved</p>

              <div class="social__icons">
                <a href="https://github.com/anhton99" class="social__icon--link"
                  ><i class="fab fa-github"></i
                ></a>
                <a href="mailto:anh_ton@college.harvard.edu" class="social__icon--link"
                  ><i class="fab fa-google"></i
                ></a>
              </div>
            </div>
          </section>
        </div>

    </body>

</html>